.map-wrap {
    position: relative;
    width: 100%;
    height:  calc(100vh - 77px); 
  }
  
  .map {
    position: absolute;
    width: 85%;
    height: 90%;
    margin-left: 10%;
    border: 1px solid black;
  }